{% load static %}
<footer class="dark-wrapper inverse-text" style="background-image: linear-gradient(to left bottom, #46062a, #410a32, #3a0f39, #301540, #241945, #1c224d, #112a54, #00325a, #004163, #004e66, #005b65, #086762);">
    <div class="container inner">
      <div class="row">
        <div class="col-md-12 col-lg-2">
          <div class="widget">
             <img src="{%static 'Paaila-Logo-White.png'%}" alt="" style="height:6.5rem; width:8rem;"/>
            
          </div>
          <!-- /.widget -->
        </div>
        <br>
        <!-- /column -->
        <div class="space30 d-lg-none d-xl-none"></div>
        <div class="col-6 col-md-3 col-lg-2 offset-lg-1">
          <div class="widget">
            <h5 class="widget-title">Paaila Products</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Pari</a></li>
              <li><a href="#">Pari 2</a></li>
              <li><a href="#">Waiter Robot</a></li>
              <li><a href="#">Room Service Robot</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-6 col-md-3 col-lg-2">
          <div class="widget">
            <h5 class="widget-title">About Us</h5>
            <ul class="list-unstyled mb-0">
  
              <li><a href="#">Vision</a></li>
              <li><a href="#">The Team</a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Media Coverage</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-6 col-md-3 col-lg-2">
          <div class="widget">
            <h5 class="widget-title">Work & Learn</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Careers</a></li>
              
              
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-6 col-md-3 col-lg-2">
          <div class="widget">
            <h5 class="widget-title">Contact</h5>
            <address> Jhamsikhel Lalitpur, Kathmandu </address>
            <a href="mailto:first.last@email.com">info@paailatechnology.com</a><br /> +977 015545577
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="container inner pt-0 pb-40 d-flex align-items-center">
      <p class="mb-0 mr-auto">© 2021 Paaila Technology. All rights reserved.</p>
      <ul class="social social-mute social-s ml-auto">
        <li><a href="#"><i class="jam jam-twitter"></i></a></li>
        <li><a href="#"><i class="jam jam-facebook"></i></a></li>
        <li><a href="#"><i class="jam jam-instagram"></i></a></li>
        <li><a href="#"><i class="jam jam-youtube"></i></a></li>
      </ul>
    </div>
  </footer>
    </div>